fastapi
uvicorn
pillow==10.2.0
reportlab==4.0.9
fpdf==1.7.2
kaleido==0.2.1
psycopg2-binary
langchain
langchain-openai
langchain-community
langchain-ollama
langchain-huggingface
pgvector
PyPDF2
ragas
python-multipart
sentence-transformers
langchain-postgres
nltk==3.8.1
kaleido>=0.2.1